---
import Company from "../components/Company.astro";
import Education from "../components/Education.astro";
import JobTitle from "../components/JobTitle.astro";
import MainSection from "../components/MainSection.astro";
import SideSection from "../components/SideSection.astro";
import Skill from "../components/Skill.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thomas Stock - Freelance Frontend Engineer">
  <div class="flex flex-col md:flex-row max-w-6xl bg-white shadow-xl">
    <div class="mx-10 flex flex-col">
      <div class="relative -ml-[57px] -mx-10">
        <a
          class="print:hidden absolute -top-3 pt-3 right-6 p-1 px-3 rounded-xl z-50 flex text-sm border-yellow-500 border-2 bg-neutral-50 font-mono"
          href="/ThomasStock.pdf"
          ><span class="material-symbols-outlined text-md"> download</span><span
            class="self-end ml-1">ThomasStock.pdf</span
          ></a
        >
        <header
          class="mt-20 mb-12 bg-neutral-200 py-5 px-12 relative z-20 shadow"
        >
          <h1
            class="text-6xl lg:text-7xl mb-4 font-serif font-light text-slate-700"
          >
            <span class="font-semibold">Thomas</span> Stock
          </h1>
          <h2 class="text-2xl font-serif text-slate-800 font-thin">
            <span class="text-3xl text-slate-700 font-normal"
              >Frontend Developer</span
            > with
            <span class="text-slate-600 font-normal w-full"
              >15 years of experience</span
            >
            and a passion for <span class="text-slate-600 font-normal">UX</span>
          </h2>
        </header>
        <div
          class="border-transparent border-solid border-r-neutral-400 border-[17px] w-0 h-0 absolute -left-[17px] bottom-[31px]"
        >
        </div>
      </div>
      <MainSection title="Current role">
        <p class="mb-3">
          As <span class="text-slate-800 font-bold">Lead React Developer</span>,
          I am the technical lead for 9 frontend devs
        </p>
        <h4 class="mb-1 font-semibold text-slate-600">My responsibilities</h4>
        <ul class="list-disc list-inside mb-5 font-light ml-1 leading-tight">
          <li>Developing the foundations for new features</li>
          <li>Architectural design and UX guidance</li>
          <li>Final pull request reviews</li>
          <li>
            Ensuring long term project health through high quality and standards
          </li>
          <li>Mentorship of juniors and new hires</li>
          <li>Conducting technical interviews for potential hires</li>
        </ul>
      </MainSection>
      <MainSection title="Work Experience">
        <ul class="">
          <li>
            <Company name="Aprimo" date={{ start: "2015", end: "present" }}>
              <JobTitle
                name="Lead React Developer"
                date={{ start: "2021", end: "present" }}
              >
                Technical ownership of a UX focused, configurable,
                enterprise-level React application
              </JobTitle>

              <JobTitle
                name="React Developer"
                date={{ start: "2017", end: "2021" }}
              >
                React, Redux, Redux-Saga, Typescript, MUI, Webpack, Babel,
                Cypress, Jest
              </JobTitle>
              <JobTitle
                name="ASP.NET Developer"
                date={{ start: "2015", end: "2017" }}
              />
            </Company>
          </li>
          <li>
            <Company name="D Soft" date={{ start: "2013", end: "2014" }}>
              <JobTitle name="Web & Mobile Developer">
                ASP.NET MVC, iOS development (Xamarin), Apache Cordova/PhoneGap
              </JobTitle>
            </Company>
          </li>
          <li>
            <Company name="Orbit One" date={{ start: "2010", end: "2012" }}>
              <JobTitle name="ASP.NET Developer">
                ASP.NET, Umbraco CMS, SharePoint 2010, MS Dynamics CRM 2011, MS
                SQL 2005-2008
              </JobTitle>
            </Company>
          </li>
          <li>
            <Company name="TrustTeam" date={{ start: "2008", end: "2010" }}>
              <JobTitle name=".NET Developer">
                ASP, ASP.NET, ASP.NET MVC, jQuery, MS SQL 2005/2008, WPF,
                WinForms, PHP, Stock management and PoS apps on barcode scanning
                devices, Self-registration kiosk software
              </JobTitle>
            </Company>
          </li>
          <li>
            <Company name="Indiegroup" date={{ start: "2006", end: "2007" }}>
              <JobTitle name="ASP.NET Developer">
                ASP.NET, Telerik Controls, MS SQL 2000/2005
              </JobTitle>
            </Company>
          </li>
        </ul>
      </MainSection>

      <MainSection title="Education & Certifications">
        <ul class="">
          <li>
            <Education
              name="Katholieke Hogeschool Sint-Lieven"
              date={{ start: "2003", end: "2006" }}
              title="Bachelor, ICT"
            />
            <Education name="Microsoft" title="MCPD: Web Developer 4" />
            <Education
              name="Umbraco"
              title="Umbraco Certified Level 2 Developer"
            />
          </li>
        </ul>
      </MainSection>
      <div class="hidden md:block text-sm text-slate-400 text-center mb-2">
        <div>Handmade with Tailwind CSS and Astro</div>
      </div>
    </div>
    <section
      class="w-screen md:order-first md:w-96 bg-slate-800 min-h-screen text-slate-200 flex-shrink-0 flex-grow-0 px-10 pt-14"
    >
      <div
        class="hidden md:block w-36 h-36 my-4 mt-4 mb-14 ml-10 rounded-full border-neutral-200 border-2 bg-[url('/t.jpeg')] bg-cover bg-center"
      >
      </div>
      <SideSection title="Skillset">
        <ul>
          <Skill name="React" strenght={10} />
          <Skill name="TypeScript" strenght={10} />
          <Skill name="JavaScript" strenght={9} />
          <Skill name="HTML / CSS" strenght={9} />
          <Skill name="jQuery" strenght={9} />
          <Skill name="Cypress" strenght={9} />
          <Skill name="Material-UI (MUI)" strenght={9} />
          <Skill name="Jest" strenght={8} />
          <Skill name="Redux-saga" strenght={8} />
          <Skill name="Webpack" strenght={7} />
          <Skill name="React Testing Library" strenght={7} />
          <Skill name="Pact Contract Testing" strenght={7} />
          <Skill name="React Query" strenght={7} />
          <Skill name="ASP.NET MVC" strenght={7} />
          <Skill name="SQL" strenght={6} />
          <Skill name="Azure DevOps CI/CD" strenght={6} />
          <Skill name=".NET (C#)" strenght={6} />
          <Skill name="Pendo" strenght={6} />
          <Skill name="App Insights" strenght={6} />
          <Skill name="Umbraco" strenght={6} />
          <li class="h-6"></li>
          <Skill name="Dutch" strenght={10} />
          <Skill name="English" strenght={9.5} />
        </ul>
      </SideSection>
      <SideSection title="Toolset">
        <span class="font-mono text-sm"
          >Git, Babel, Tailwind, ESLint, VSCode, OSX/Windows, npm/yarn,
          Prettier, Framer Motion, Dnd kit, Astro, Docker, Prisma, GitHub,
          Vercel, PostgreSQL, PowerShell</span
        >
      </SideSection>
      <SideSection title="Online">
        <ul class="font-lato">
          <li class="pb-1">
            <a href="https://stackhouse.be">stackhouse.be</a>
          </li>
          <li class="pb-1">
            <a href="https://github.com/ThomasStock">github.com/ThomasStock</a>
          </li>
          <li class="pb-1">
            <a href="https://stackoverflow.com/users/72859"
              >stackoverflow.com/users/72859</a
            >
          </li>
          <li class="pb-1">
            <a href="https://www.linkedin.com/in/stockthomas/"
              >linkedin.com/in/stockthomas/</a
            >
          </li>
        </ul>
      </SideSection>
      <SideSection title="Interested?">
        <ul class="font-lato">
          <li>
            <a href="mailto:thomasstock1985@gmail.com<"
              >thomasstock1985@gmail.com</a
            >
          </li>
        </ul>
      </SideSection>
      <div
        class="md:hidden text-sm text-slate-500 text-center sm:-mx-4 sm:mb-4"
      >
        <div>Handmade with Tailwind CSS and Astro</div>
      </div>
    </section>
  </div>
</Layout>
