---
export interface Props {
  name: string;
  date?: { start: string; end?: string };
}

const { name, date } = Astro.props;
const { start, end } = date || {};
---

<div class="border-gray-200 border-l-4 pl-8">
  <h4 class="font-lato mb-2 text-xl font-bold text-gray-500">
    {name}
    {
      date ? (
        <span class="text-sm ml-2 text-gray-400">
          ({start} {end ? " - " + end : ""})
        </span>
      ) : null
    }
  </h4>
  <ul class="mb-6"><slot /></ul>
</div>
