---
export interface Props {
  name: string;
  title: string;
  date?: { start: string; end?: string };
}

const { name, date, title } = Astro.props;
const { start, end } = date || {};
---

<ul class="border-slate-500">
  <h5 class="font-lato font-bold inline">{title}</h5><h4
    class="font-lato inline ml-2 text-lg font-light italic text-gray-500"
  >
    {name}
    {
      date ? (
        <span class="">
          ({start} {end ? " - " + end : ""})
        </span>
      ) : null
    }
  </h4>
</ul>
