---
export interface Props {
  name: string;
  date?: { start: string; end: string };
}

const { name, date } = Astro.props;
const { start, end } = date || {};
---

<li class="mb-4">
  <h5 class="font-lato text-lg font-bold mb-2">
    {name}{
      date ? (
        <span class="text-sm ml-2 text-gray-400">
          ({start} - {end})
        </span>
      ) : null
    }
  </h5>
  <div class="text-gray-500 font-light">
    <slot />
  </div>
</li>
