---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="mb-6">
  <h3 class="uppercase text-3xl font-light font-serif text-slate-400">
    {title}
  </h3>
  <div class="mb-6 mt-6">
    <slot />
  </div>
</section>
