---
export interface Props {
  name: string;
  strenght?: number;
}

const { name, strenght } = Astro.props;
---

<li
  class="flex justify-between font-mono text-gray-200 text-sm leading-relaxed"
>
  <div>{name}</div><div>{strenght}</div>
</li>
